:root{
    --primarna-boja: #073a18;
    --naglasena-boja: #701313;
    --pozadina-svijetlo: #b5dada;
}

body{
    background-color: var(--pozadina-svijetlo);
    }



.container{

    

    width: 90%;
    max-width: 897px;
    min-width: 00px;
    inline-size: 100%;
    max-inline-size: 897px;
    margin-bottom: 20px;
    padding-bottom: 50px;

  
    
    
    
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    box-sizing: content-box;

    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 5);

    

    outline-style: inset;
    outline-width: 0px;
    outline-color: var(--naglasena-boja);
    mask-border-outset: var(--naglasena-boja);
    outline-offset: 10px;
    
 .novi {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #1e88ff;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  }
  .umatanje {
  position: relative;
    
  }
  
  .opis {

  
    ul{ 
    list-style: none;
}

ul li::before{
    content: '✔️';
}


.lista li {
  font-size: 30px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 0px;
  
}

.lista 
  
  left: 20px;
  color: #00050c;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 40px;
  }

 hr {

  border-top: 1px solid #313b50;
  
  margin-left: 15px;
  margin-right: 55px;
  margin-top: 5px;
}
  
}
}